<%= form_for(@quotation) do |f| %>
  <% if @quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
      <% @quotation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote %><br>
    <%= f.text_area :quote %>
  </div>
  <div class="field">
    <%= f.label :author_name %><br>
    <%= f.text_field :author_name %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name", @quotation.category_id) %><div id="notice"><%= notice %></div><br>
    <%= link_to 'New Category', new_category_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
