<h1>Listing quotations<%=notice%></h1>
<%= render 'search' %>
<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Author name</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotations.each do |quotation| %>
      <tr>
        <td><%= quotation.quote %></td>
        <td><%= quotation.author_name %></td>
        <td><%= Category.find_by_id(quotation.category_id).name  %></td>
        <td><%= link_to 'Show', quotation %></td>
        <td><%= link_to 'Edit', edit_quotation_path(quotation) %></td>
        <td><%= link_to 'Destroy', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<td><%= link_to 'Kill', hide_quotation_path(quotation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quotation', new_quotation_path %>

<br>
<%= render 'session' %>
<br/>
<%= render 'xml_part' %>
<br/>
<br/>
<h4>Q1</h4>
<p> If using Rails, explain how ActiveRecord uses an SQL sequence object for the ID field.</p>
<p>Answer : when rails create model and use 'rake db:create && rake db:migrate' it will create table for model which add id field automatically.<br/>
     As you can see, the ID will increasing every time this table has insert new row.</br>
  <%= image_tag 'Q1.png' %><br/>
</p>

<h4>Resource for Q1</h4>
  <ul>
    <li><%= link_to "Active Record" , "http://edgeguides.rubyonrails.org/active_record_basics.html#schema-conventions" %>
    <li><%= link_to "Squence Increment", "http://www.postgresql.org/docs/8.1/static/functions-sequence.html" %>
  </ul>
