<%= form_for [:service, @direction] do |f| %>
  <% if @direction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direction.errors.count, "error") %> prohibited this direction from being saved:</h2>

      <ul>
      <% @direction.errors.each do |attribute, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table  class="table table-striped">
    <tr>
  <div class="field">
   <td> <h4>Add</h4> </td>
    <td><%= link_to 'New Place', new_service_place_path, class: "btn btn-primary" %><br> </td>

  </div>
    </tr>
    <tr>
  <div class="field">
    <td>
    <%= f.label :destination_id %>
    </td>
    <td>
    <%= f.text_field :destination_id, id: 'txtDestination', data:{url:service_places_path(format: :json)} %>
    </td>

  </div>
    </tr>
    <tr>
  <div class="field">
   <td>
    <%= f.label :transportation_id %>
   </td>
    <td>
    <%= f.select :transportation_id, options_from_collection_for_select(Transportation.all, "id", "type", @direction.transportation_id) %>
    </td>
  </div>
    </tr>
    <tr>
  <div class="field">
   <td>
    <%= f.label :price %>
   </td>
    <td>
    <%= f.number_field :price %>
    </td>
  </div>
   </tr>
    <tr>
    <div class="field">
   <td>
    <%= f.label :description %></td>
     <td>
    <%= f.text_area :description, rows:"4", cols:"130" %>
     </td>
  </div>
    </tr>
   <tr>
  <div class="actions">
    <td></td>
    <td>
    <%= f.submit %>
    </td>
  </div>
   </tr>
  </table>
<% end %>
