<h4>Detail of the Direction</h4>
<h>Your Destination:</h>
 <p  id="nameofplace" > <%= Place.find(@direction.destination_id) %></p>

<table id ="master">
  <tr>
    <td><%= @direction.description %> </td>
  </tr>
  <tr>
    <td>
      Created by : <%= link_to @direction.created_by.name, user_path(@direction.created_by) %>
    </td>
  </tr>
</table>
<br/>


<script
src="http://maps.googleapis.com/maps/api/js">
</script>

<script>
    //AIT 14.0791° N, 100.6114°

    var geocoder = new google.maps.Geocoder();
    var lat=0
    var long=0
    // var address = "new york";
    var address = $("#nameofplace").text();
    geocoder.geocode( { 'address': address}, function(results, status) {

        if (status == google.maps.GeocoderStatus.OK) {
            lat = results[0].geometry.location.lat();
            long = results[0].geometry.location.lng();
            //alert(lat);
            //  alert(long);
        }

        var myCenter=new google.maps.LatLng(14.0791, 100.6114);
        var mark = new google.maps.LatLng(lat, long);

        function initialize()
        {
            var mapProp = {
                center: myCenter,
                zoom:5,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

            var marker = new google.maps.Marker({
                position: myCenter,
                title:'Click to zoom'
            });

            marker.setMap(map);

            var infowindow = new google.maps.InfoWindow({
                content:"Asian Institute of Technology: Your route starts from here"
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
            });

            //this is to place marker on searched place
            var marker2 = new google.maps.Marker({
                position: mark,
                title:'Click to zoom'
            });

            marker2.setMap(map);



// Zoom to 9 when clicking on marker
            google.maps.event.addListener(marker,'click',function() {
                map.setZoom(10);
                map.setCenter(marker.getPosition());
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    });
</script>



<div id="googleMap" style="width:800px;height:400px;"></div>



<%= render_shareable %>
<h5 align="left"><%= link_to "Back", search_path(id: @direction.destination_id, type: @direction.transportation_id), class:'btn btn-warning btn-xs' %></h5>

<div style="padding-top:50px"></div>
<div class="fb-comments" data-href="<%=request.original_url %>" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
</div>
