<%= form_for [:service, @place] do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-striped">
    <tr>
  <div class="field">
    <td>
    <%= f.label :name %></td>
    <td>
    <%= f.text_field :name, size: "82" %>
    </td>
  </div>
    </tr>
    <tr>
  <div class="field">
   <td>
    <%= f.label :description %></td>
    <td>
    <%= f.text_area :description, rows:"4", cols:"80"  %>
    </td>
  </div>
    </tr>
    <tr>
  <div class="actions">
    <td></td>
    <td>
    <%= f.submit %>
    </td>
  </div>
    </tr>
  </table>
<% end %>
