<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ait Trip Advisor" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ait Trip Advisor" %>">
    <meta property="fb:app_id" content="1427980860774487"/>
    <meta property="og:url" content="<%= (@social_url.nil?)? request.original_url : @social_url %>"/>
    <meta property="og:site_name" content="AIT Trip Advisor"/>
    <meta property="og:title" content="<%= (@meta_content_title.nil?)? "AIT Trip Advisor" : @meta_content_title %>"/>
    <meta property="og:description" content="WAE project 2014 Group 2."/>
    <meta property="og:image" content="http://www.ait.ac.th/media/documents/logo_ait_08.jpg"/>
    <meta property="og:type" content="website"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>

      <header>
        <%= render 'layouts/navigation' %>
      </header>

      <main role="main">
          <div class="row">
              <div class="sidebar col-md-2 ">
                <ul class="nav nav-sidebar">
                  <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to 'Overview', users_path%></li>
                  <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><%= link_to 'Edit account', edit_user_registration_path %>
                  <li class="<%= 'active' if current_page?(users_directions_path) || params[:controller] == 'users/directions' %>"><%= link_to 'Directions', users_directions_path %>
                </ul>
              </div>
              <div class="main col-md-10 col-md-offset-2">

                   <%= render 'layouts/messages' %>
                   <%= yield %>
                </main>
              </div>
          </div>
      </main>


    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
