<h1>About to divide by 0</h1> 
<%= form_tag("show") do %>
<div> <%= label_tag(:firstl, "First Number") %> </div>
<div> <%= text_field_tag(:first) %> </div>
<div> <%= label_tag(:secondl, "Second Number") %> </div>
<div> <%= text_field_tag(:second) %> </div>
<div> <%= submit_tag("Divide") %> </div>

<div> <%= text_field_tag(:result, value= @data3) %> </div>
<% end %>

