
<div class="container">
  <div class="page-header">
    <h1>Our Suggested Ways</h1>
  </div>

  <!--<%#=form_tag("search") do  %>-->
  <!--<div class="col-lg-6">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-3">Destination: </div>-->
      <!--<div class="col-lg-9">-->
          <!--<%#= text_field_tag(:txtDestination) %>-->
      <!--</div>-->

  <div class="row">

    <div class="col-md-6 col-md-push-6">
      <div class="row">
          <%=form_tag(search_path, method: "get", role:"form", class:"form-horizontal", :remote => true) do  %>
          <div class="form-group">
            <label for="txtDestination" class="col-sm-3 control-label">Destination: * </label>
            <div class="col-sm-8">
              <%= text_field_tag :txtDestination, nil,  class:"form-control", data:{url:service_places_path(format: :json)} %>
            </div>
          </div>
          <div class="form-group">
            <label for="transportation_id" class="col-sm-3 control-label">Transport Type: * </label>
            <div class="col-sm-8">
              <%=collection_select(:transportation, :id, Transportation.all, :id, :type, {prompt: true , selected: '1'}, {class:"form-control"}) %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
              <%=button_tag ' Search' ,class: "btn btn-primary glyphicon glyphicon-search" %>
              <% if user_signed_in? %>
                  <%=link_to 'New Direction', new_service_direction_path, class:"btn btn-info pull-right" %>
              <% else %>
                  <p class="pull-right inactive">* login to share your direction with us </p>
              <% end %>
            </div>
          </div>
          <% end %>

      </div>
    </div>

    <div class="col-md-6 col-md-pull-6  text-center" id="routes">
      <!--iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3870.021359973115!2d100.617133!3d14.075915999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e27f8de68c7f59%3A0xf01923824353270!2sAsian+Institute+of+Technology!5e0!3m2!1sen!2sth!4v1409322599334" width="480" height="300" style="border-style: none;"></iframe-->
     <% if !@directions.nil? %>
       <%= render 'display' %>
     <% end %>
    </div>

  </div>

</div>
