<%#= render 'admin/users', locals: {users: @users} %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'admin' %>
  <%= javascript_include_tag "admin" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="container">

        <div class="row">
          <h3><p>Users</p></h3>
          <div class="column col-md-8">
            <table class="table">
              <thead>
                <tr class="info">
                  <th style="text-align:center">Email</th>
                  <th style="text-align:center">Role</th>
                  <th style="text-align:center">Banned</th>
                  <th style="text-align:center"></th>
                <tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <%= render :partial => 'admin/user', :locals => { :user => user } %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <!-- </div> -->


      <!-- <div class="container"> -->
        <div class="row">
          <h3>Roles</h3>
          <div class="column col-md-8">
            <table class="table">
              <thead>
                <tr class="info">
                  <th style="text-align:center">Name</th>
                  <th style="text-align:center"></th>
                <tr>
              </thead>
              <tbody>
                <% @roles.each do |role| %>
                  <tr>
                    <%= render :partial => 'admin/role', :locals => { :role => role } %>
                  </tr>
                <% end %>

              </tbody>
            </table>
          </div>
        </div>
        <p><%= link_to('New Role',new_admin_role_path,class:'btn btn-default') %></p>
      <!-- </div> -->


        <div class="row">
          <h3>Statistics on user registrations<h3>
          <div class=" col-md-8">
            <%= line_chart User.group_by_day(:created_at, range: 1.weeks.ago.midnight..Time.now).count, library: {backgroundColor: "#eee"} %>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
      <h3 class="">Recent registered</h3>
      <div class="list-group">
        <% @users_recent.each do |users| %>
        <%= link_to(
          content_tag('h5', users.email, class:"list-group-item-heading") + content_tag('p',content_tag('h6',users.created_at.strftime("%d/%m/%Y %H:%M")), class:"list-group-item-text"), '', class:"list-group-item", style:"background-color:#eee;")
          %>
        <!-- <a class="list-group-item" style="background-color:#eee;"  href="#">
           <h5 class="list-group-item-heading">
             <%=users.email  %>
           </h5>
           <p class="list-group-item-text">
             <div class="recent">
                 <h6><%=users.created_at.strftime("%d/%m/%Y %H:%M")  %></h6>
             </div>
           </p>
         </a> -->
        <% end %>
      </div>
    </div>
  </div>
</div>
<%#= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</div>
