<!DOCTYPE html>
<html>
<head>
  <title>ChartKickExample</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "/admin/chartkick.js", "chartkick" %>
  <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<table>
  <tr>
    <td>
       <div class=".col-xs-6">
         <h3>Visiting Places in Thailand</h3>
         <%= pie_chart Place.group(:name).count, height: "200px" %>
       </div>
    </td>
    <td>
       <div class=".col-xs-6">
         <h3>Number of user created</h3>
         <%= line_chart User.group_by_day(:created_at).count.to_a.sort(), height: "200px", format: "dd/MM/yy" %>
       </div>
    </td>
  </tr>
</table>
<div class="container">
  <%= yield %>
</div>

</body>
</html>