<%= form_for [:users, @direction] do |f| %>
  <% if @direction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direction.errors.count, "error") %> prohibited this direction from being saved:</h2>

      <ul>
      <% @direction.errors.each do |attribute, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <h4>From AIT</h4>
  </div>
  <div class="field">
    <%= f.label :destination_id %><br>
    <%= f.text_field :destination_id, id: 'txtDestination' , data:{name: (!@direction.destination.blank?)? @direction.destination.name : nil }   %>
    <%= link_to 'New Place', new_service_place_path %>
  </div>
  <div class="field">
    <%= f.label :transportation_id %><br>
    <%= f.select :transportation_id, options_from_collection_for_select(Transportation.all, "id", "type", @direction.transportation_id) %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
